version: "3.9"

services:
  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "3000:3000"
    restart: always

  product-service:
    build: ./product-service
    container_name: product-service
    ports:
      - "3001:3001"
    restart: always

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "3002:3002"
    restart: always

  payment-service:
    build: ./payment-service
    container_name: payment-service
    ports:
      - "3003:3003"
    restart: always
