name: Ecommerce CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker images
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/user-service:1.0 ./user-service
          docker build -t ${{ secrets.DOCKER_USERNAME }}/product-service:1.0 ./product-service
          docker build -t ${{ secrets.DOCKER_USERNAME }}/order-service:1.0 ./order-service

      - name: Push Docker images
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/user-service:1.0
          docker push ${{ secrets.DOCKER_USERNAME }}/product-service:1.0
          docker push ${{ secrets.DOCKER_USERNAME }}/order-service:1.0

      - name: Set up Kubeconfig
        uses: azure/setup-kubectl@v3
        with:
          version: v1.27.3
        # OR use kind/kubectl actions depending on your cluster

      - name: Deploy with Helm
        run: |
          helm upgrade --install ecommerce ./ecommerce -n ecommerce

